@model IEnumerable<WiserSoft.UI.Models.Reporteclientesactivos>

@{
    ViewBag.Title = "Reporte de Clientes más Activos";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="col-lg-12">
    <div class="card card-outline-primary">
        <div class="card-body">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                    </div>
                    <div class="card-content">
                        <div id="basic-Pie" style="height: 570px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Cliente</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
            {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cantidad)
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Grafico Echart-->
<script src="~/Content/js/lib/echart/echarts.js"></script>
<script src="~/Content/js/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function() {


        var dom = document.getElementById("basic-Pie");
        var bpChart = echarts.init(dom);

        var datos = @Html.Raw(Json.Encode(ViewBag.data));
        var groups = @Html.Raw(Json.Encode(ViewBag.group));

        varas = []
        @foreach (var item in ViewBag.data) {
            <text> varas.push({ name: "@item.name", value:"@item.value"}) </text>
        }

        var app = {};
        option = null;
        option = {
            color: ['#62549a','#4aa9e9', '#ff6c60','#eac459', '#25c3b2' ],
            tooltip : {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:groups
            },
            calculable : true,
            series : [
                {
                    name:'Source',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:varas
                }
            ]
        };

        if (option && typeof option === "object") {
            bpChart.setOption(option, false);
        }



        window.onresize = function () {

            bpChart.resize();

        };


    });
</script>